.App {
  text-align: center;
}

/* body {
  background-image: url('./images/bg-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #000300;
} */
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 5%;
}

.stock-card {
  border-color: aqua;
  border-style: groove;
  border-radius: 2em;
  border-spacing: 5em;
}

.order-form { 
  border-color: aqua;
  border-style: groove;
  border-radius: 2em;
  border-spacing: 5em;

}
